<h2><%= @coach.name %></h2>
<p>This coach is one of <%= @coach.team.coaches.size %> coaches for <%= @coach.team.name %></p>
<p><%= link_to 'Home', root_path %></p>
<p><%= link_to 'Back', coaches_path %></p>