<h2><%= @player.name %></h2>
<p>This player is one of <%= @player.team.players.size %> members for <%= @player.team.name %></p>
<p><%= link_to 'Home', root_path %></p>
<p><%= link_to 'Back', players_path %></p>