<!DOCTYPE html>
<html>
  <head>
    <title>Esports</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Esports Teams!</h1>

    <%= yield %>

    <footer>Note: Data is not accurate! These players are Kpop stars not gamers! Rise up!</footer>
  </body>
</html>
